.vs/
bin/
obj/
Debug/
Release/
ipch/
TestResults/
*.suo
*.user
*.sdf
*.opensdf
*.opendb
*.VC.db
*.aps
[Tt]humbs.db
*~*.xlsx
*~*.docx

$Build/
vs/Install/Resources/
vs/InstallStager/Resources/
vs/InstallService32/Resources/
vs/InstallService64/Resources/
vs/Uninstall/Resources/